<h1>TicTacToe Game</h1>

@*<a href="#" class="btn btn-primary" id="newGameId">New Game</a><br /><br />

<table class="tictactoe-board hidden">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>8</td>
            <td>9</td>
        </tr>
    </tbody>
</table>*@

@section scripts{
    @*<script>
            $(document).ready(function () {
                $("#newGameId").click(function () {
                    $.post("http://localhost:54747/api/games/create", function () {
                        
                    });
                });
            });
    </script>*@
}
