body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Verdana, Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.tictactoe-board {
}

    .tictactoe-board thead {
        font: 2em;
    }

    .tictactoe-board tbody{
        
    }

    .tictactoe-board tbody td {
        border: 1px solid #808080;
        width: 100px;
        height: 100px;
        text-align: center;
        vertical-align: central;
        background-color: #dddddd;
    }
